@media (min-width: 960px) {
html .tc-page-container {
		text-align: center;
	}
html .tc-story-river {
		position: relative;
		width: 870px;
		padding: 42px;
		margin: 0 auto;
		text-align: left;
	}
html .tc-sidebar-scrollable {
		text-align: left;
		left: 53%; /*sidebar 偏离位置*/
		right: 0;
		margin-left: 343px;
	}
html .tc-tiddler-frame {
        width: 786px;
        padding: 28px 42px 42px;
        border-radius: 2px;
    }
}
